<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zakir Naik</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <nav class="navbar">

        <div class="nav-container">
            <div class="logo">
                <img src="images/logo.png" alt="">
                <h3 class="logo-heading">Zakir Naik</h3>
            </div>
            <div class="list">
                <ul class="nav-ul">
                    <li class="nav-li"><a href="/">Home</a></li>
                    <li class="nav-li"><a href="/about">About</a></li>
                    <li class="nav-li"><a href="/acheivments">Acheivments</a></li>
                    <li class="nav-li"><a href="/pictures">Pictures</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="index-home">

        <div class="index-home-container">

            <div class="index-home-img">
                <img src="images/index.png" alt="">
            </div>

            <div class="index-home-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores reiciendis voluptas amet iste voluptate veritatis dolor laborum corrupti ducimus repellendus eligendi tempora eos itaque autem, consectetur atque cumque minus. Dolor? Lore m ipsum dolor sit amet, consectetur adipisicing elit. Nisi enim numquam, nobis delectus porro at rem vero, recusandae, maxime tempora praesentium! Molestiae similique soluta nulla error explicabo molestias ullam? Reprehenderit odit libero provident harum ipsum voluptatum quod exercitationem? Delectus, a!</p>
            </div>

        </div>

    </section>


</body>
</html>